SciSciNet_Authors_Gender.tsv
SciSciNet_Authors.tsv
SciSciNet_Fields.tsv
SciSciNet_Newsfeed_Metadata.tsv
SciSciNet_Paper_CD5.tsv
SciSciNet_PaperFields.tsv
SciSciNet_Papers.tsv
SciSciNet_NSF_Metadata.tsv
SciSciNet_Link_Patents.tsv
SciSciNet_Link_Twitter.tsv